/* Root elements/classes styling End*/
html {
    font-family: 'Comfortaa', cursive;
}

body {
    min-height: 100vh;
    margin: 0 auto;
    background-position: center;
    background-image: url("/study-project/Public/img/spacePaintTexture.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: sepia(.1);
}

ul {
    padding-left: unset;
}

a {
    text-decoration: none;
}

.container {
    width: 940px;
    margin-right: auto;
    margin-left: auto;
    box-sizing: border-box;
}

.error {
    color: red;
    margin-top: 1%;
}
/* Root elements/classes styling End*/

/* footer styling begin */
footer {
    background-color: black;
    width: 100%;
    height: 50px;
    position: fixed;
    left: 0;
    bottom: 0;
}

footer p {
    margin: 1% 0;
    text-align: center;
    color: rgba(245,245,245, 0.9);
    text-shadow: rgba(255,255,255, 0.3) 0.2px 0.2px 10px;
}
/* footer styling end */

/* clearing float begin*/
.fix {
    clear: both;
}

.group:before,
.group:after {
    content: "";
    display: table;
}

.group:after {
    clear: both;
}

.group {
    zoom: 1;
}
/* clearing float end*/