/* Root elements and Container class styling Begin*/
html {
    font-family: 'Comfortaa', cursive;
    height: 100%
}

body {
    margin: 0;
    background-position: center;
    background-image: url("../img/marbleColours.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: sepia(.1);
}

/* Root elements and Container class styling End*/

/* Header elements and class styling Begin*/


/* Header elements and class styling End*/
/* Main elements and class styling Begin*/


/* Main elements and class styling End*/

/* Footer elements and class styling Begin*/

/* Footer elements and class styling End*/