/* header styling begin */
header {
    background-color: rgba(0, 0, 0, 0.7);
    box-sizing: border-box;
    color: rgba(245,245,245, 0.9);
}

nav {
    margin-top: 2%;
    float: right;
}

button{
    font-size: large;
    display:inline-block;
    padding:0.5em 3em;
    border: 2px darkgrey solid;
    border-radius: 8px;
    margin:0 0.3em 0.3em 0;
    box-sizing: border-box;
    text-decoration:none;
    color:rgba(255,168,211, 1);
    background-color: whitesmoke;
    text-align:center;
}
button:hover{
    border-color: rgba(255,168,211, 1);
}

nav ul {
    margin-top: 5px;
    margin-bottom: 0;
}

nav a {
    color: whitesmoke;
}

header h1 {
    display: inline-block;
    margin-top: 1%;
    margin-bottom: 0;
    font-weight: normal;
}

nav ul li {
    list-style: none;
    float: left;
    margin-right: 20px;
    box-sizing: border-box;
    text-shadow: rgba(255,255,255, 0.3) 0.2px 0.2px 10px;
}

.year {
    color: rgba(255,168,211, 1);
    text-shadow: rgba(255,255,255, 0.1) 0.2px 0.2px 10px;
}
/* header styling end */

/* main styling begin */
.row {
    padding-right: 7.75%;
    box-sizing: border-box;
}

.performance {
    width: 20%;
    height: auto;
    float: left;
    background-color: rgba(245,245,245, 0.9);
    backdrop-filter: blur(5px);
    border: 2px darkgrey solid;
    border-radius: 8px;
    margin: 4% 0 0.5% 4%;
}

.performance a {
    color: black;
}

.performance:hover {
    border-color: rgba(255,168,211, 1);
}

.title {
    color: rgba(255,168,211, 1);
    text-shadow: rgba(255,255,255, 0.1) 0.2px 0.2px 10px;
}

.createPerformance {
    margin: 1% auto;
    text-align: center;
}

.createPerformance a:hover {
    color: rgba(255,168,211, 1);
}

.performance li {
    list-style: none;
    padding: 0 20px;
}
/* main styling end */

/* footer styling begin */
footer {
    background-color: black;
    width: 100%;
    height: 50px;
    position: fixed;
    left: 0;
    bottom: 0;
}

footer p {
    margin: 1% 0;
    text-align: center;
    color: rgba(245,245,245, 0.9);
    text-shadow: rgba(255,255,255, 0.3) 0.2px 0.2px 10px;
}
/* footer styling end */

/* clearing float begin*/
/* in general.css
/* clearing float end*/
