/* main styling begin */
article {
    background-color: rgba(218,223,225,.7);
    border-radius: 15px;
    box-sizing: border-box;
    margin: auto;
}

.descriptor {
    color: black;
}

.performance article ul{
    padding: 0;
}

.performance article ul li{
    list-style: none;
}

article a{
    text-decoration: none;
}

.addButton a{
    margin: auto;
}
/* main styling end */

/* template.css used for baseline css*/

